extends layout

block content
	- var errors = flash('error');
	- var successes = flash('success');

	#login-panel.panel(class=errors.length > 0 ? 'panel-danger' : '', class=successes.length > 0 ? 'panel-success' : '', class=errors.length == 0 && successes.length == 0 ? 'panel-default' : '')
			.panel-heading
				h3.panel-title= options.title
			.panel-body
				each error in errors
					.alert.alert-danger
						p= error
				each success in successes
					.alert.alert-success
						p= success
				form(method='post', action='/admin/forgot')
					input(type='hidden', name='_csrf', value=req.csrfToken())
					.form-group
						label(for='email') Email address
						input.form-control#email(type='email', name='email', autofocus)
					p.text-right
						a(href='/admin/login') Back to Sign in
						button.btn.btn-primary(type='submit') Reset &rarr;
		p.text-center
			a(href='/')!= "&larr; Return to " + options.title